.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f7f9fb;
    z-index: 1000;
    transition: opacity 0.75s, visibility 0.75s;
    }
    
.loader-hidden{ 
    opacity: 0;
    visibility: hidden;
}
    
.loader::after{ 
    content: "";
    width: 75px; 
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #ff4949;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
    
@keyframes loading {
    from {
    transform: rotate(0turn);
    }
    to {
    transform: rotate(1turn);
    }
}
.page-item {
    cursor: pointer;
    display: inline-block;
    border: 2px solid #000;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    font-size: 15px;
  }
.page-item.--active {
    background-color: var(--color-red);
    color: var(--color-white);
    border: 2px solid var(--color-red);
  }