
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
}
header {
    background-color: yellow;
}
header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
header ul li a:hover {
    color: red;
}
header ul li {
    padding: 0;
}
header ul li input {
    position: relative;
    width: 500px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    padding-left: 10px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
header ul li> i{
    position: absolute;
    font-size: 40px;
    right: 580px;
    top: 25px;
    color: black;
}
.container{
    background-color: #0e0909;
}
.container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container>ul>li {
   line-height: 30px;
    cursor: pointer;
    padding: 10px 55px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.container>ul>li:hover {
    background-color: #746d6d;
}
.container>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.menu-container {
    position: absolute;
    background-color: #f5f0f0ef;
    display: none;
    left: 0;
    width: 100%;
    z-index: 1;
    top: 100%;
}
.menu-container ul{
    flex-direction: column;
    padding: 15px ;
    
}
.menu-container ul li{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}
.menu-container ul li:hover{
    color: rgb(57, 133, 219);
    background-color: none;

}
.container ul li:hover .menu-container{
    display: block;
}
.slider{

    height: 500px;
    position: relative;
}
.slider .slider-content{
    right:20%;
    width: 60%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.slider-content{
    z-index: 0;
}
     .slider-content-left{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 25%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .slider-content-left-bottom{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.slider-product{
    background-color: purple;
    position: relative;
    padding: 20px;
    margin: 100px;
    top: 80px;
    height: auto;
    
}
.slider-product-title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;

}
.slider-product-items{
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
}

.slider-product-item ul{
    list-style : none;
    margin-left: 5px;
    text-align: center;
    width: 100%;
}
.slider-product-item ul li{
    margin-bottom: 10px;
}
.slider-product-item{
    background-color: white;
    width: 85%;
    border-radius: 8px;
    margin: 10px;
}
.slider-product-item img{
    padding-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.5s;
}
.slider-product-item img:hover {
    transform: translateY(0);
    animation: pulse 1s infinite ; 
}

@keyframes pulse {
    100% {
        transform: translateY(-5%);
    }
}

.foot-content{
    background-color: #eee1e1e8;
}
.foot-content> ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 50px;
}
.foot-content .foot-content-container{
    
    list-style-type: none;
    display: block;
    flex-direction: column;
    justify-content: space-between;
}
.foot-content .foot-content-container li{
    padding: 10px 0;
}
.foot-content .foot-content-container li a{
    text-decoration: none;
    color: rgb(5, 4, 4);
    font-size: 20px;
    font-weight: bold;
}
.foot-content .foot-content-container li a:hover{
    color: rgb(224, 123, 202);
}
